@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke !important;
}

.main-card {
    width: 80vw;
    padding: 2%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 15px;
    transition: box-shadow 0.5s ease-in-out;
}

.main-card:hover { box-shadow: 2px 2px 20px; }