@import url('./common.css');

.main-content { float: left; width: 70%; }

.img-card {
    float:right;
    max-width: 20%;
    border-radius: 30px;
    box-sizing: border-box;
}

.disease-summary {
    font-size: 1.15rem;
    text-align: start;
}

.img-card img { height: 100%; width: 100%; border-radius: 30px; }