<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Prediction Model</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/medical-robot.ico">
</head>

<body>
    <main class="main-card">
        <div class="main-logo">
            <img src="../static/img/medical-robot.png" alt="Medical Robot">
        </div>
        <div class="main-content">
            <section class="intro-section">
                <h1 class="intro-heading">Disease Prediction Model</h1>
                <article class="intro-paragraphs">
                    <p>Our disease prediction tool uses machine learning algorithms like Decision Tree and Random Forest
                        to help users identify potential health conditions based on symptoms.</p>
                    <p>The platform is user-friendly, allowing quick insights through a simple web interface built with
                        Flask.</p>
                    <p>This tool is for educational purposes only and is not intended for actual medical diagnoses or
                        advice.</p>
                </article>
                <div class="social-icons">
                    <a href="https://www.instagram.com/dseu_official" target="_blank" aria-label="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.x.com/dseu_official" target="_blank" aria-label="X-twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="https://www.github.com/neeraj-395/dpm-ml" target="_blank" aria-label="GitHub">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </section>

            <form class="input-section" action="/predict" method="post">
                <input class="form-control" type="text" name="username" placeholder="Your Name..." required>
                <div class="symptom-select">
                    <label for="symptoms">What are your symptoms?</label>
                    <select id="symptoms" class="form-select" name="symptoms">
                        <option disabled selected>Add symptoms...</option>
                        {% for name in symp_names %}
                        <option value="{{ name }}">{{ name.replace('_',' ').capitalize() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">Predict</button>
            </form>
        </div>
    </main>
</body>

</html>